<div *ngIf="url" class="preview-frame-cover" [class.mobile-editor]="isMobile$ | async" style="min-width: 980px">
  <div class="frame d-flex flex-column">
    <div class="frame-top"></div>
    <div class="frame-content flex-grow">
      <iframe #iframe frameborder="0" allowfullscreen [src]="url | safe: 'resourceUrl'"></iframe>
    </div>
    <div class="frame-bottom"></div>
  </div>
  <v-hoverbox *ngIf="InDesign"></v-hoverbox>
  <!-- <div class="preview-container"> -->
  <!-- <iframe frameborder="0" allowfullscreen [src]="url|safe:'resourceUrl'"></iframe> -->
  <!-- </div> -->
</div>
